<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Poker Society File Upload</title>
    </head>
    <body>
        <div id="page" class="mx-auto p-5" style="width:350px">
            <div class="pt-4">
                <input id="csv" class="form-control" placeholder=".csv" type="file" />
            </div>
            <div class="pt-4">
                <button class="btn-success py-2 px-3 border rounded" onclick="submit()">Submit</button>
            </div>
            <div id="warning" class="bg-warning text-center mt-4 border rounded p-2 d-none" />
        </div>
        <script type="text/javascript">
            function submit() {
                const div = (msg) => `<div class="text-center">${msg}</div>`;
                const page = document.querySelector('#page');
                delete options.headers['Content-Type'];
                let file = document.querySelector('#csv').files[0];
                let data = new FormData();
                data.append('csv', file);
                fetch('{{ host }}/file_upload', {
                    method: 'POST',
                    body: data
                })
                // fetch('{{host}}/file_upload', {
                //     method: 'POST',
                //     headers: {
                //         "Content-Type": "application/json"
                //     },
                //     body: JSON.stringify({'csv':'message from the other side'})
                // })
                // .then(d=>console.log(d))
                
                .then(resp => resp.json())
                .then(data => page.innerHTML = div(data.message))
                .catch(err => page.innerHTML = div(err))
            }
        </script>
    </body>
</html>