<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Poker Society File Upload</title>
        <style>
            .highlight {
                box-shadow: 0 0 5px rgba(81, 203, 238, 1);
                border: 1px solid rgba(81, 203, 238, 1);
            }
            .un-highlight {
                box-shadow: none;
                border: 1px dashed black;
            }
        </style>
    </head>
    <body>
        <div id="page" class="mt-5 p-5 d-flex justify-content-center">
            <div class="text-right">
                <div id="drop-area" class="d-flex align-items-center justify-content-center un-highlight" 
                    style="width:400px;height:250px;">
                    <h2 style="color:rgb(181, 181, 181)">DRAG AND DROP</h2>
                </div>
                <button id="submit" class="mt-3 mr-5 py-2 px-3 btn btn-info" 
                    onclick="upload()">
                    UPLOAD
                </button>
            </div>
            <div>
                <div id="info" style="width:400px;min-height:250px" 
                    class="border pt-2 mx-5 d-flex align-items-center justify-content-center">
                    <h2 style="color:rgb(181, 181, 181)">FILE INFO</h2>
                </div>
            </div>
            <div>
                <div id="log" style="width:400px;min-height:250px" 
                    class="border d-flex align-items-center justify-content-center">
                    <h2 style="color:rgb(181, 181, 181)">LOG</h2>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            const dropArea = document.querySelector('#drop-area');
            const info = document.querySelector('#info');
            const log = document.querySelector('#log');
            let logContent = '';
            let files = [];
            
            ['dragenter','dragover','dragleave','drop'].forEach(event => {
                dropArea.addEventListener(event, e => {
                    e.preventDefault();
                    e.stopPropagation();
                }, false)
            })

            dropArea.addEventListener('dragover', e => {
                dropArea.classList.replace('un-highlight', 'highlight');
            }, false);
            dropArea.addEventListener('dragleave', e => {
                dropArea.classList.replace('highlight', 'un-highlight');
            }, false);
            
            dropArea.addEventListener('drop', e => {
                files = [...files, ...e.dataTransfer.files];
                
                dropArea.classList.remove('d-none');
                dropArea.innerHTML = `Uploading ${files.length} files`;

                info.classList.remove('justify-content-center');
                info.innerHTML = `<ul class="text-left">
                    ${files.map(e => `<li>${e.name}</li>`).join('')}
                </ul>`;
            }, false)

            function upload() {
        
                if (files.length > 0) {
                    let file = files.shift();

                    let data = new FormData();
                    data.append('csv', file);

                    logContent += `Uploading... ${file.name}<br />`;

                    fetch('{{ host }}/upload_files', {
                        method: 'POST',
                        body: data
                    })
                    .then(resp => resp.text())
                    .then(resp => {
                        log.className = 'border p-2';
                        logContent += resp + '<br />';
                        log.innerHTML = logContent;
                        
                        upload();
                    })
                    .catch(err => {
                        log.className = 'border';
                        log.textContent = err;
                    })
                }
            }
        </script>
    </body>
</html>