<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Poker Society Log In</title>
        <style>
            .highlight {
                box-shadow: 0 0 5px rgba(81, 203, 238, 1);
                border: 1px solid rgba(81, 203, 238, 1);
            }
            .un-highlight {
                box-shadow: none;
                border: 1px dashed black;
            }
        </style>
    </head>
    <body>
        <div id="page" class="mt-5 p-5 d-flex justify-content-center">
            <input type="text" id="email" placeholder="Email" />
            <input type="password" id="password" placeholder="Password" />
        </div>
        <script type="text/javascript">
            
        </script>
    </body>
</html>